.docs-title-input{
    border: 1px solid transparent;
    height:27px;
    line-height: 22px;
    position: absolute;
    margin-top: 6px;
    margin-left: 4px;
    border-radius: 4px !important;
    z-index:1;
    font-family:Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 400;
    width:auto;
}
.docs-title-input:hover:not(:focus){
    border: 1px solid black; 
    overflow: hidden; 
}
.docs-title-input:focus {
    outline: 3px ridge #2684FC;
}
input:focus::placeholder {
	color : transparent;
}
input::placeholder{
    color:#444746;
}
.title{
    text-align: center;
    margin-left: 515px;
    position: absolute;
    margin-top: 4px;
    font-size: 28px;
    font-family: "Product Sans,Arial,sans-serif" !important;
    color: #5f6368;
    opacity: 1;
}